
.vayu_blocks_image_flip_wrapper-for-front .block-editor-inner-blocks{
    background-color: transparent;
    perspective: 1000px;
    transform-origin: center;
 
}

.vayu_blocks_flip-box-inner-for-front {
    perspective: 1000px;
}

.wp-block-vayu-blocks-flip-box {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform-origin: center;
    height: 100%;
}

.vayu_blocks_flip-box-inner-for-front .vayu_blocks_flip-box-front{
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    z-index:10;
    transform-origin: center;
    transition: all 0.8s ease;
  }

.vayu_blocks_flip-box-inner-for-front .vayu_blocks_flip-box-back {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    transform-origin: center;
    transition: all 0.8s ease;
  }

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-front .wp-block-vayu-blocks-flip-box{
    transform:rotateY(180deg);
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-front-left .wp-block-vayu-blocks-flip-box{
    transform:rotateY(-180deg);
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-back .wp-block-vayu-blocks-flip-box{
    transform:rotateX(180deg);
    transform-origin: center;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-back-bottom .wp-block-vayu-blocks-flip-box{
    transform:rotateX(-180deg);
    transform-origin: center;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-z .wp-block-vayu-blocks-flip-box{
    transform: rotateX(180deg) rotateZ(90deg);
    transform-origin: center;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-x .wp-block-vayu-blocks-flip-box{
    transform: rotateY(180deg) rotateZ(90deg);
    transform-origin: center;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_zoom-in .vayu_blocks_flip-box-back {
    transform:scale(1);
    z-index:100;
    opacity:1;
}

.vayu_blocks_flip-box-inner_animation_div_zoom-in .vayu_blocks_flip-box-back {
    opacity:0;
    z-index:0;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_zoom-out .vayu_blocks_flip-box-front {
    transform:scale(0.7);
    z-index:0;
    opacity:0;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_fade-in .vayu_blocks_flip-box-front {
    z-index:0;
    opacity:0;
}

//dbox 
.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-front-dbox .wp-block-vayu-blocks-flip-box{
    transform:rotateY(180deg) translateZ(100px);
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-front-left-dbox .wp-block-vayu-blocks-flip-box{
    transform:rotateY(-180deg) translateZ(100px);
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-back-dbox .wp-block-vayu-blocks-flip-box{
    transform:rotateX(180deg) translateZ(100px);
    transform-origin: center;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-back-bottom-dbox .wp-block-vayu-blocks-flip-box{
    transform:rotateX(-180deg) translateZ(100px);
    transform-origin: center;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-z-dbox .wp-block-vayu-blocks-flip-box{
    transform: rotateX(180deg) rotateZ(90deg) translateZ(100px);
    transform-origin: center;
}

.vayu_blocks_image_flip_wrapper-for-front:hover .vayu_blocks_flip-box-inner_animation_div_flip-x-dbox .wp-block-vayu-blocks-flip-box{
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    transform-origin: center;
}

.vayu_blocks_overlay_main_wrapper_image .vayu_blocks_inner_content >section{
    transform:none !important;
    position: unset !important;
    height:auto !important;
}

.vayu_blocks_image_flip_wrapper-for-front .wp-block-vayu-blocks-front-image .wp-block-vayu-blocks-front-image .wp-block-vayu-blocks-advance-container{
    height: 100%;
 }

 .vayu_blocks_image_flip_wrapper-for-front .vayu_blocks_flip-box-inner-for-front {
    height: 100%;
 }

.vayu_blocks_front_image_wrapper-for-front .wp-block-vayu-blocks-flip-wrapper .wp-block-vayu-blocks-advance-container{
 height: 100%;
}

.vayu_blocks_front_image_wrapper-for-front .wp-block-vayu-blocks-flip-wrapper .wp-block-vayu-blocks-advance-container .th-inside-content-wrap{
    height: 100%;
}