.vayu_blocks_slider-settings {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px 10px;
    margin-bottom: 10px;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s ease-in-out;
    background-color: #fff;
    overflow: hidden;
}

.vayu_blocks_slider-settings:hover {
    background-color: rgba(128,128,128,0.01);
}

.vayu_blocks_slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; /* Indicates that the header is clickable */
}

.vayu_blocks_slider-title {
    font-weight: bold;
    flex: 1;
}

.vayu_blocks_slider-actions {
    display: flex;
    align-items: center;
}

.vayu_blocks_delete-button,
.vayu_blocks_copy-button
.vayu_blocks_expand-button {
    margin-left: 10px;
}

.vayu_blocks_myclasst{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.vayu_blocks_components-base-control__labelt{
	padding: 5px 0;
	font-weight: 800;
  }
  
.vayu_blocks_linking-controlst {
	display: flex;
	opacity: 0.2;
  }
.vayu_blocks_linking-controlst button {
	width: 20px;
	cursor: pointer;
	height: 25px;
  }
.vayu_blocks_linking-controlst button svg {
	width: 20px;
  }
.vayu_blocks_linking-controlst button.is-primary {
	background: #6c1bc3a8;
	box-shadow: none !important;
}

.vayu_blocks_add-slide{
    display:flex;
    align-items: center;
    justify-content: center;
}

.vayu_blocks_slide_settings_main{
    padding: 5px;
}

.vayu_blocks_slider-content {
    margin-top: 10px;
    padding-top: 10px;
    background:white !important;
    border-top: 1px solid #ddd;
    max-height: 0; /* Initial hidden state */
    overflow: hidden; /* Hide overflow during transition */
    transition: max-height 5s ease; /* Smooth transition */
}

.vayu_blocks_slider-settings.expanded .vayu_blocks_slider-content {
    max-height: 100%; /* Adjust based on content height */
}

.vayu_blocks_slider-content .vayu_blocks_ {
    margin-bottom: 10px; /* General margin for components inside slider-content */
}

//three buttons
.vayu_blocks_button-container {
    position: relative; /* Ensure the active indicator is positioned relative to this container */
    margin-bottom: 10px; /* Space between buttons and content below */
    display: flex;
    justify-content: space-between;
    border: 1px solid black; /* Border around the button container */
}

.vayu_blocks_custom-button {
    position: relative; /* For positioning the active indicator */
    border: none;
    width:33.33%;
    padding: 10px 0px; /* Adjust padding as needed */
    background-color: transparent; /* Background color of buttons */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Smooth background color transition */
    z-index: 0; /* Ensure buttons are above the active indicator */
}

.vayu_blocks_custom-button:hover {
    background-color: #f0f0f0; /* Background color change on hover */
}

.vayu_blocks_custom-button-active {
    position: absolute;
    height: 36px; /* Thickness of the indicator bar */
    width: calc(32.33%); /* Adjust to button width minus border */
    bottom: 1px; /* Position it just below the button */
    background-color: black;
    display: flex;
    left: 1px;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
    z-index: 1; 
    transition: all 0.5s ease; /* Smooth transition effect */
}

.vayu_blocks_textarea{
    width:91%;
    margin-left:3px;
}

.vayu_blocks_togglecontrol{
    margin-left:4px;
}

.duotone-filters{
    display:none;
}
  
.image-container {
    position: relative;
    display: inline-block;
}

.change-button {
    position: absolute;
    bottom: 2%; /* Start from the bottom of the container */
    left: 0%;
    height: 0; /* Start with height 0 */
    overflow: hidden; /* Hide overflowing content */
    padding: 0px 100px; /* Padding is kept for expansion */
    background-color: black; /* Change this color as needed */
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
    transition: height 0.3s ease, padding 0.3s ease; /* Smooth expansion effect */
    z-index: 10; /* Ensure the button is above the image */
    white-space: nowrap; /* Prevent text from wrapping */
}

.image-container:hover .change-button {
    height: 38px; /* Set the desired height when expanded */
    padding: 0px 100px; /* Adjust padding to match the height */
}

/* Panel Styling */
.panel {
    margin-bottom: 10px;
    border-top: 0.5px solid #d7d4d4;
    border-bottom: 0.5px solid #d7d4d4;
    padding: 15px;
   
}

/* Button Styling */
.panel button {
    background: none; /* Remove default button background */
    border: 1px solid #d7d4d4;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    width: 100%; /* Full width of the container */
    padding: 11px; 
    margin-bottom: 8px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Hover Effect */
.panel button:hover {
    color: blue; /* Change text color to blue on hover */
}

.tools-panel-wrapper{
    border-bottom: 1px solid #d7d4d4;
    padding-bottom:20px;
}
.tools-panel-wrapper-new-sub{
    padding-bottom:20px;
    margin-top: 10px;
}

.tools-panel-wrapper-new{
    border-bottom: 1px solid #d7d4d4;
    padding-bottom:20px;
    margin-top: 10px;
}

.vayu_blocks_hr_tag{
    border: none; /* Remove default border */
    height: 2px; /* Thickness of the line */
    background-color: #d7d4d4; /* Dark color */
}

.content-panel-layout {
    display: flex;
   gap:15px;
   margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    background-color: #e8e3e3;
}

.content-panel-layout-button {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 6px; /* Adjust padding as needed */
    font-size: 15px; /* Adjust font size as needed */
    overflow: hidden; /* Ensure pseudo-element stays within button bounds */
}

.content-panel-layout-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the line height as needed */
    background-color: blue; /* Line color */
    transition: width 0.3s ease; /* Smooth animation */
}

.content-panel-layout-button:hover::after {
    width: 100%; /* Expand line to full width on hover */
}


.content-panel {
    display: flex;
   gap:3px;
   margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    background-color: #e8e3e3;
}

.content-panel-button {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 6px; /* Adjust padding as needed */
    font-size: 15px; /* Adjust font size as needed */
    overflow: hidden; /* Ensure pseudo-element stays within button bounds */
}

.control-panel .control-panel-button:hover {
    color: blue;
}

.content-panel-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the line height as needed */
    background-color: blue; /* Line color */
    transition: width 0.3s ease; /* Smooth animation */
}

.content-panel-button:hover::after {
    width: 100%; /* Expand line to full width on hover */
}


//edit.js
/* Animation for heading */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-active {
    animation: fadeInUp 1s ease-out;
}

.vayu_blocks_button1_heading {
    animation: fadeInDown 1s ease-out;
}

.vayu_blocks_button2_heading {
    animation: fadeInDown 1s ease-out;
}

.new{
    color:red;
}

.slick-next:before,
.slick-prev:before {
content: "" !important;
}

.slick-arrow .inside_rightarrow_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    transition: background-color 0.3s ease-in-out;  /* Adjust this value to change the size difference */
}

.slick-arrow .inside_rightarrow_div:hover {
    background-color: blue !important;
}

.slick-arrow {
	z-index: 10;
	cursor: pointer;
    background: transparent;
}

.slick-dots li button:before{
    display:none;
}

.slick-track{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slick-slide{
    margin:5px;
}

.vayu_blocks_dots{
    background: #ddcdcd;
    padding: 8px;
    font-weight:bold;
}

@keyframes slideInFromBottomLeft {
    from {
        opacity: 0; /* Start invisible */
        transform: translate(-100%, 100%); /* Start from bottom left */
    }
    to {
        opacity: 1; /* Fade in */
        transform: translate(0, 0); /* End at original position */
    }
}

@keyframes slideInFromBottomRight {
    from {
        opacity: 0; /* Start invisible */
        transform: translate(100%, 100%); /* Start from bottom left */
    }
    to {
        opacity: 1; /* Fade in */
        transform: translate(0, 0); /* End at original position */
    }
}

.slider-container:hover .inside_rightarrow_div.arrow-on-hover{
    display:flex !important;
    position: relative; /* Position relative to allow for left and bottom positioning */
    animation: slideInFromBottomLeft 1s ease-out;
}

.slider-container:hover .inside_rightarrow_div.arrow-on-hover-for-right{
    display:flex !important;
    position: relative; /* Position relative to allow for left and bottom positioning */
    animation: slideInFromBottomRight 1s ease-out;
}

.slider-container:hover .inside_rightarrow_div.arrow-on-hover-only{
    display:flex !important;
    position: relative; /* Position relative to allow for left and bottom positioning */
}

.vayu_blocks_slider-slide{
    background-size: cover !important; 
    background-repeat: no-repeat !important;
    background-position: top center !important;
}


.vayu_blocks_gphb{
    width: 90%;
    margin-left: 10px;
}

.vayu_blocks_customstyle_toggle_control_layout_style{
    margin-left: 2px;
}