.th-sortable-item-area {
  margin: 10px 0;
  z-index: 999999;
}
.th-sortable-item-area.th-sortable-item-area-meta .th-sortable-control-area {
  padding: 20px 15px 10px;
}
.th-sortable-item-area .th-sortable-item {
  display: flex;
  background: #ffffff;
  border: 1px solid #d5dadf;
}
.th-sortable-item-area .th-sortable-item:hover {
  background: #fafafb;
}
.th-sortable-item-area .th-sortable-item.disabled .th-sortable-label {
  flex-basis: 80%;
  padding-left: 15px;
}
.th-sortable-item-area .th-sortable-item.editable .th-sortable-label {
  flex-basis: 40%;
  flex-grow: 1;
}
.th-sortable-item-area .th-sortable-item.editable.disabled .th-sortable-label {
  flex-basis: 60%;
}
.th-sortable-item-area .th-sortable-item.hidden {
  color: #e5e5e5;
}
.th-sortable-item-area .th-sortable-item.hidden .th-sortable-handle span {
  background: linear-gradient(180deg, #e5e5e5, #e5e5e5 20%, #fff 0, #fff 40%, #e5e5e5 0, #e5e5e5 60%, #fff 0, #fff 80%, #e5e5e5 0, #e5e5e5);
}
.th-sortable-item-area .th-sortable-item.hidden .th-sortable-label {
  color: #e5e5e5;
}
.th-sortable-item-area .th-sortable-item.hidden .th-sortable-button svg {
  fill: #e5e5e5;
}
.th-sortable-item-area .th-sortable-item .th-sortable-handle {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-basis: 20%;
  padding: 15px 0;
  cursor: move;
}
.th-sortable-item-area .th-sortable-item .th-sortable-handle:focus {
  box-shadow: inset 0 0 0 1px #6c7781, inset 0 0 0 2px #fff;
}
.th-sortable-item-area .th-sortable-item .th-sortable-handle span {
  display: flex;
  align-self: center;
  width: 18px;
  height: 11px;
  background: linear-gradient(180deg, #000, #000 20%, #fff 0, #fff 40%, #000 0, #000 60%, #fff 0, #fff 80%, #000 0, #000);
}
.th-sortable-item-area .th-sortable-item .th-sortable-label {
  cursor: default;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.th-sortable-item-area .th-sortable-item .th-sortable-label::-moz-selection {
  background: none;
}
.th-sortable-item-area .th-sortable-item .th-sortable-label::selection {
  background: none;
}
.th-sortable-item-area .th-sortable-item .th-sortable-button {
  height: auto;
  flex-basis: 20%;
  justify-content: center;
  padding: 10px 5px;
  border-left: 1px solid #d5dadf;
  border-radius: 0;
}
.th-sortable-item-area .th-sortable-item .th-sortable-button.components-icon-button:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
  background: #fafafb;
  border-radius: 0;
  box-shadow: none;
}
.th-sortable-item-area .th-sortable-item .th-sortable-button .dashicon {
  margin: 2px;
}
.th-sortable-item-area .th-sortable-control-area {
  background: #ffffff;
  border: 1px solid #d5dadf;
  border-top: none;
  padding: 10px 15px;
  display: none;
}
.th-sortable-item-area .th-sortable-control-area.opened {
  display: block;
}
.th-sortable-item-area .th-sortable-control-area.opened .components-base-control {
  margin: 24px 0;
}
.th-sortable-item-area .th-sortable-control-area.opened .components-base-control:first-child {
  margin-top: 8px;
}

.components-panel__body.th-adv-product-panel label,
.components-panel__body.th-adv-product-panel span {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 1.4em !important;
  text-transform: capitalize !important;
  margin-bottom: 8px;
  display: block;
}

.th-product-block-product-item-wrap {
  grid-template-columns: repeat(var(--grid-col), 1fr);
}

.th-product-block-product-item-wrap img {
  border: none;
  max-width: 100%;
}

.th-product-block-product-content .th-product-item .th-product-title a {
  --title-color: #000;
  color: var(--title-color);
}/*# sourceMappingURL=editor.css.map */