.components-panel__body.th-adv-product-panel label, 
.components-panel__body.th-adv-product-panel span {
    font-size: 13px!important;
    font-weight: 400!important;
    line-height: 1.4em!important;
    text-transform: capitalize!important;
}