$wp-break-small: 600px; // Example breakpoint, adjust as necessary

.wp-block-vayu-blocks-wrapper {
	margin-top: 0;
	margin-bottom: 0;
	max-width: 100%;
	list-style: none;
	padding: 0;

	// These rules no longer apply but should be kept for backwards compatibility.
	&.is-flex-container {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		gap: 1.25em;

		> li {
			margin: 0;
			width: 100%;
		}

		@for $i from 2 through 6 {
			&.is-flex-container.columns-#{ $i } > li {
				width: calc((100% / #{ $i }) - 1.25em + (1.25em / #{ $i }));
			}
		}
	}
}

@media (max-width: $wp-break-small) {
	// Temporary specificity bump until "wp-container" layout specificity is revisited.
	.wp-block-vayu-blocks-wrapper-is-layout-grid {
		grid-template-columns: 1fr;
	}
}

.wp-block-vayu-blocks-wrapper-is-layout-constrained > li > .alignright,
.wp-block-vayu-blocks-wrapper-is-layout-flow > li > .alignright {
	float: right;
	margin-inline-start: 2em;
	margin-inline-end: 0;
}

.wp-block-vayu-blocks-wrapper-is-layout-constrained > li > .alignleft,
.wp-block-vayu-blocks-wrapper-is-layout-flow > li > .alignleft {
	float: left;
	margin-inline-start: 0;
	margin-inline-end: 2em;
}

.wp-block-vayu-blocks-wrapper-is-layout-constrained > li > .aligncenter,
.wp-block-vayu-blocks-wrapper-is-layout-flow > li > .aligncenter {
	margin-inline-start: auto;
	margin-inline-end: auto;
}
.block-editor-block-list__block.wp-block.wp-block-query{
	display:none!important;
	}