.th-background-selector-control {
	margin: 0 0 1.5em 0;

	.components-base-control__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		label {
			padding: 5px 0;
		}

		.linking-controls {
			display: flex;

			button {
				width: 25px;
				height: 28px;
				border: 1px solid #555d66;
				outline: none;
				box-shadow: none;

				svg {
					width: 20px;
				}

				&.is-primary {
					z-index: 0;

					svg {
						fill: #fff;
					}

					&:hover {
						background: #007eb1;
						border-color: none;
						box-shadow: none;
						color: #fff;
						text-decoration: none;
						text-shadow:none;
					}

					&:focus:not(:disabled) {
						box-shadow: none;
					}
				}

				.dashicon {
					margin: 2px;
				}
			}
		}
	}
}