
.vayu_blocks_dimesion_panel .components-base-control__label.ej5x27r0{
    font-weight:500 !important;
    font-size:10px !important;
}

.vayu_blocks_dimesion_panel .e19lxcc00{
    margin-bottom:4px !important;
}

