
.vayu_blocks_dimesion_panel .components-base-control__label.ej5x27r0{
    font-weight:500 !important;
    font-size:10px !important;
}

.vayu_blocks_dimesion_panel .e19lxcc00{
    margin-bottom:4px !important;
}

.vayu_block_borderradius_control .em5sgkm7{
    display: none;
}

.vayu_block_borderradius_control{
   margin-top: 5px;
} 

.vayu_block_borderradius_control .components-border-box-control-split-controls .em5sgkm3{
    width: 75px;
}

.vayu_block_borderradius_control .components-border-box-control-split-controls
{
    grid-column:span 1 !important;
}

.vayu_block_borderradius_control .components-border-box-control-visualizer{
    border:0px !important;
}

.vayu_block_borderradius_control .components-border-box-control label {
    margin-bottom: 10px;
}

.vayu_block_border_control .components-border-box-control label {
    margin-bottom: 10px;
}