 
.vayu-blocks-image-container {
    position: relative;
    display: inline-block;
}

.vayu-blocks-change-button {
    position: absolute;
    bottom: 2%; /* Start from the bottom of the container */
    left: 0%;
    height: 0; /* Start with height 0 */
    overflow: hidden; /* Hide overflowing content */
    padding: 0px 100px; /* Padding is kept for expansion */
    background-color: black; /* Change this color as needed */
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
    transition: height 0.3s ease, padding 0.3s ease; /* Smooth expansion effect */
    z-index: 10; /* Ensure the button is above the image */
    white-space: nowrap; /* Prevent text from wrapping */
}

.vayu-blocks-image-container:hover .vayu-blocks-change-button {
    height: 38px; /* Set the desired height when expanded */
    padding: 0px 100px; /* Adjust padding to match the height */
}

//edit.js


.wp-block-vayu-blocks-image-flip{
    margin-left:auto !important;
    margin-right:auto !important;
}

.vayu_blocks_image_toolspanel_flip .e19lxcc00{
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    padding-left: 0% ;
    padding-right: 0%;
    padding-bottom: 0%;
}

.vayu_blocks_image_flip-duotone-filters {
    display:none;
}

.vayu_blocks_show_preview_button{
    margin-bottom:10px;
}

.vayu_blocks_image_flip_button:hover {
    background:var(--button-hvr-background) !important;
    color:var(--button-hvr-color) !important;
}

.vayu_blocks_inner_content-image{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.vayu_block_alignment_flip .components-base-control__title{
    align-items: center !important;
}

.vayu_block_alignment_flip .components-base-control__field{
    display: flex;
    justify-content: space-between;
}

.vayu_blocks_matrix_control_flip{
    border:1px solid rgba(128,128,128,0.23);
}


//flip settings

.vayu_blocks_image_flip_wrapper .block-editor-inner-blocks{
    background-color: transparent;
    perspective: 1000px;
    transform-origin: center;
 
}

.vayu_blocks_image_flip_wrapper{
    perspective: 1000px;
}

.vayu-blocks-image-flip-main-container{
    perspective: 1000px;
}

.vayu_blocks_flip-box-inner .block-editor-inner-blocks .block-editor-block-list__layout:nth-child(1) {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform-origin: center;
    height: 100%;
}

.vayu_blocks_flip-box-inner .vayu_blocks_flip-box-front{
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    z-index:10;
    transform-origin: center;
  }

.vayu_blocks_flip-box-inner .vayu_blocks_flip-box-back {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    transform-origin: center;
  }

.vayu-blocks-image-flip-main-container:hover .vayu_blocks_flip-box-inner_animation_div_flip-front > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(1) {
    transform:rotateY(180deg);
}

.vayu-blocks-image-flip-main-container:hover .vayu_blocks_flip-box-inner_animation_div_flip-front-left > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(1) {
    transform:rotateY(-180deg);
}

.vayu-blocks-image-flip-main-container:hover .vayu_blocks_flip-box-inner_animation_div_flip-back > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(1) {
    transform:rotateX(180deg);
    transform-origin: center;
}

.vayu-blocks-image-flip-main-container:hover .vayu_blocks_flip-box-inner_animation_div_flip-back-bottom > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(1) {
    transform:rotateX(-180deg);
    transform-origin: center;
}

.vayu-blocks-image-flip-main-container:hover .vayu_blocks_flip-box-inner_animation_div_flip-z > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(1) {
    transform: rotateX(180deg) rotateZ(90deg);
    transform-origin: center;
}

.vayu-blocks-image-flip-main-container:hover .vayu_blocks_flip-box-inner_animation_div_flip-x > .block-editor-inner-blocks > .block-editor-block-list__layout:nth-child(1) {
    transform: rotateY(180deg) rotateZ(90deg);
    transform-origin: center;
}


.vayu_blocks_flip-box-back {
    transform: var(--back-transform-style);
} 
