 
.vayu-blocks-image-container {
    position: relative;
    display: inline-block;
}

.vayu-blocks-change-button {
    position: absolute;
    bottom: 2%; /* Start from the bottom of the container */
    left: 0%;
    height: 0; /* Start with height 0 */
    overflow: hidden; /* Hide overflowing content */
    padding: 0px 100px; /* Padding is kept for expansion */
    background-color: black; /* Change this color as needed */
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
    transition: height 0.3s ease, padding 0.3s ease; /* Smooth expansion effect */
    z-index: 10; /* Ensure the button is above the image */
    white-space: nowrap; /* Prevent text from wrapping */
}

.vayu-blocks-image-container:hover .vayu-blocks-change-button {
    height: 38px; /* Set the desired height when expanded */
    padding: 0px 100px; /* Adjust padding to match the height */
}

//edit.js



/* Apply the custom hover effect */
.vayu_blocks_image_flip_wrapper:hover .vayu_blocks_image_flip_image {
    transform: var(--image-hover-effect-transform, none);
    filter: var(--image-filter-effect-filter);
    opacity: var(--image-hover-effect-opacity, 1);
}

.grayScale {
    --image-filter-effect-filter:grayscale(100%);
}

/* Define hover effects using custom properties */
.grayScalereverse {
    filter:grayscale(100%);
    transition: filter var(--image-transitiontime) ease; /* Smooth transition for blur effect */
}

/* Remove blur on hover for glow effect */
.grayScalereverse :hover {
    filter: none; /* Remove blur on hover */
}

.sepia {
--image-filter-effect-filter:sepia(100%);
}

/* Define hover effects using custom properties */
.zoom-in {
    --image-hover-effect-transform: scale(1.5);
}

.zoom-out {
    --image-hover-effect-transform: scale(0.8);
}

.fade-in {
    --image-hover-effect-opacity: 1;
}

.fade-out {
    --image-hover-effect-opacity: 0.5;
}

.slide-up {
    --image-hover-effect-transform: translateY(-10px);
}

.slide-down {
    --image-hover-effect-transform: translateY(10px);
}

.slide-left {
    --image-hover-effect-transform: translateX(-10px);
}

.slide-right {
    --image-hover-effect-transform: translateX(10px);
}

.flip-horizontal {
    --image-hover-effect-transform: rotateY(180deg);
}

.flip-vertical {
    --image-hover-effect-transform: rotateX(180deg);
}

.rotate {
    --image-hover-effect-transform: rotate(-30deg);
}

.blur {
    --image-filter-effect-filter: blur(3px);
}

.shine {
    --image-filter-effect-filter: grayscale(100%);
}

/* Overlay styles */
.vayu_blocks_overlay_main_wrapper {
    width: 100%;
    height: 500px;
    transition: var(--overlay-transitiontime) ease;
    opacity: var(--overlay-opacity); /* Initially hidden */
    display: flex;
}

.back-main-container{
    position:absolute;
    top:0%;
    left:0%;
}

/* Hover the image and show the overlay */
.vayu_blocks_image_flip_wrapper:hover .vayu_blocks_overlay_main_wrapper {
    opacity: 1; /* Make the overlay visible on hover */
}

/* Custom overlay hover effects */
.overlayfade-in {
    opacity: 0;
}

.vayu_blocks_image_flip_wrapper:hover .overlayfade-in {
    opacity: 1;
}

.overlayfade-in-up {
    transform: translateY(100%); /* Start from below the container */
    opacity: 0; /* Initially hidden */
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease; /* Smooth transition */
}

.vayu_blocks_image_flip_wrapper:hover .overlayfade-in-up {
    transform: translateY(0); /* Moves to the original position */
    opacity: 1; /* Fade in */
}

.overlayfade-in-down {
    transform: translateY(-100%); /* Start from above the container */
    opacity: 0; /* Initially hidden */
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease; /* Smooth transition */
}

.vayu_blocks_image_flip_wrapper:hover .overlayfade-in-down {
    transform: translateY(0); /* Moves to the original position */
    opacity: 1; /* Fade in */
}

.overlayfade-in-left {
    transform: translateX(-100%); /* Start from the left of the container */
    opacity: 0; /* Initially hidden */
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease; /* Smooth transition */
}

.vayu_blocks_image_flip_wrapper:hover .overlayfade-in-left {
    transform: translateX(0); /* Moves to the original position */
    opacity: 1; /* Fade in */
}

.overlayfade-in-right {
    transform: translateX(100%); /* Start from the right of the container */
    opacity: 0; /* Initially hidden */
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease; /* Smooth transition */
}

.vayu_blocks_image_flip_wrapper:hover .overlayfade-in-right {
    transform: translateX(0); /* Moves to the original position */
    opacity: 1; /* Fade in */
}

.vayu_blocks_image_flip_wrapper:hover .flip-front-left {
    transform: rotateY(180deg);
    opacity: 0;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper .flip-front-left {
    transform: rotateY(0deg);
    opacity: 1;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper .overlayflip-horizontal-left {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper:hover .overlayflip-horizontal-left {
    transform: rotateY(0);
}

.vayu_blocks_image_flip_wrapper:hover .flip-front {
    transform: rotateY(-180deg);
    opacity: 0;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper .flip-front {
    transform: rotateY(0deg);
    opacity: 1;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper .overlayflip-horizontal {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper:hover .overlayflip-horizontal {
    transform: rotateY(0);
}

.vayu_blocks_image_flip_wrapper:hover .flip-back {
    transform: rotateX(-180deg);
    opacity: 0;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper .flip-back {
    transform: rotateX(0deg);
    opacity: 1;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper .overlayflip-vertical {
    transform: rotateX(180deg);
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper:hover .overlayflip-vertical {
    transform: rotateX(0);
}


.vayu_blocks_image_flip_wrapper:hover .flip-back-bottom {
    transform: rotateX(180deg);
    opacity: 0;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper .flip-back-bottom {
    transform: rotateX(0deg);
    opacity: 1;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper .overlayflip-vertical-bottom {
    transform: rotateX(-180deg);
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.vayu_blocks_image_flip_wrapper:hover .overlayflip-vertical-bottom {
    transform: rotateX(0);
}

.overlayzoom-in-up {
    transform: scale(0.5) translateY(-50%); /* Larger movement up for more emphasis */
    opacity: 0;
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease;
}

.vayu_blocks_image_flip_wrapper:hover .overlayzoom-in-up {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.overlayzoom-in-left {
    transform: scale(0.5) translateX(-50%); /* Larger movement left for more emphasis */
    opacity: 0;
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease;
}

.vayu_blocks_image_flip_wrapper:hover .overlayzoom-in-left {
    transform: scale(1) translateX(0);
    opacity: 1;
}

.vayu_block_animation_overlay_inside{
    transition-delay: calc(var(--overlay-transitiontime) - var(--overlay-transitiontime)/2) !important;
    animation-fill-mode: forwards !important;
    opacity:0;
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease;
}

.vayu_blocks_image_flip_wrapper:hover .vayu_block_animation_overlay_inside {
    opacity:1;
}

.overlayzoom-in-right {
    transform: scale(0.5) translateX(50%); /* Larger movement right for more emphasis */
    opacity: 0;
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease;
}

/* Initial state: starts small in the center as a circle */
.overlayzoom-in-circle {
    transform: scale(0); /* Starts from center as a small circle */
    opacity: 0;
    border-radius: 50% !important; /* Ensures it's a perfect circle */
    transition: transform var(--overlay-transitiontime) ease-out, opacity var(--overlay-transitiontime) ease-out; /* Fast circular animation */
}

.vayu_blocks_image_flip_wrapper:hover .overlayzoom-in-circle {
    transform: scale(1); /* Expands outward to full size */
    opacity: 1;
    border-radius:var(--overlay-border-radius) !important;
}

.vayu_blocks_image_flip_wrapper:hover .overlayzoom-in-right {
    transform: scale(1) translateX(0);
    opacity: 1;
}

.overlayzoom-in-down {
    transform: scale(0.5) translateY(50%); /* Larger movement down for more emphasis */
    opacity: 0;
    transition: transform var(--overlay-transitiontime) ease, opacity var(--overlay-transitiontime) ease;
}

.vayu_blocks_image_flip_wrapper:hover .overlayzoom-in-down {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.overlaypartial-overlay {
    width: 50%; /* Custom size for partial overlay */
    opacity: 0;
}

.vayu_blocks_image_flip_wrapper:hover .overlaypartial-overlay {
    opacity: 1;
}

.wp-block-vayu-blocks-image-flip{
    margin-left:auto !important;
    margin-right:auto !important;
}

.vayu_blocks_image_toolspanel_flip .e19lxcc00{
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    padding-left: 0% ;
    padding-right: 0%;
    padding-bottom: 0%;
}

.vayu_blocks_image_flip-duotone-filters {
    display:none;
}

.vayu_blocks_show_preview_button{
    margin-bottom:10px;
}

.vayu_blocks_image_flip_button:hover {
    background:var(--button-hvr-background) !important;
    color:var(--button-hvr-color) !important;
}

.vayu_blocks_inner_content-image{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.vayu_block_alignment_flip .components-base-control__title{
    align-items: center !important;
}

.vayu_block_alignment_flip .components-base-control__field{
    display: flex;
    justify-content: space-between;
}

.vayu_blocks_matrix_control_flip{
    border:1px solid rgba(128,128,128,0.23);
}


//flip settings

.vayu_blocks_image_flip_wrapper{
    background-color: transparent;
    perspective: 1000px;
}

.vayu_blocks_flip-box-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

  //hover effect
  .vayu_blocks_rotating_animation_back_flip-front {
    transform: rotateY(180deg);
  }

  .vayu_blocks_image_flip_wrapper:hover .block-editor-block-list__layout {
    transform: rotateY(180deg);
  }

  .vayu_blocks_rotating_animation_back_flip-front-left {
    transform: rotateY(-180deg);
  }

  .vayu_blocks_image_flip_wrapper:hover .vayu_blocks_flip-box-inner_animation_div_flip-front-left {
    transform: rotateY(-180deg);
  }

  .vayu_blocks_rotating_animation_back_flip-back-bottom {
    transform: rotateX(-180deg);
  }

  .vayu_blocks_image_flip_wrapper:hover .vayu_blocks_flip-box-inner_animation_div_flip-back-bottom {
    transform: rotateX(-180deg);
  }

  .vayu_blocks_rotating_animation_back_flip-back {
    transform: rotateX(180deg);
  }

  .vayu_blocks_image_flip_wrapper:hover .vayu_blocks_flip-box-inner_animation_div_flip-back {
    transform: rotateX(180deg);
  }

  .vayu_blocks_rotating_animation_back_flip_z {
    transform: rotateY(180deg) rotateZ(90deg);
}

  .vayu_blocks_image_flip_wrapper:hover .vayu_blocks_flip-box-inner_animation_div_flip-z {
    transform: rotateY(180deg) rotateZ(90deg);
  }


  .vayu_blocks_rotating_animation_back_flip_x {
    transform: rotateX(180deg) rotateZ(90deg);
}

.vayu_blocks_image_flip_wrapper:hover .vayu_blocks_flip-box-inner_animation_div_flip-x {
    transform: rotateX(180deg) rotateZ(90deg);
}


.vayu_blocks_flip-box-inner .vayu_blocks_flip-box-front
{
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
  }

.vayu_blocks_flip-box-inner .vayu_blocks_flip-box-back {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
  }