/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-post_blockk {
	border: 1px dotted #f00;
}

.parent{
	display: grid;
	max-width: 100%;
	grid-auto-rows: minmax(auto, auto);					
}

.ubl-switcher-bg-clr-gradient {
	display: flex;
	margin: 12px 0;
	position: relative;
	border: 1px solid #504f4f;
	padding: 4px;
	border-radius: 2px;
}

.switch-option {
	padding: 8px 12px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.switch-option.selected {
	color: #fff;
	
}

.bg-span {
	background-color: #000;
	width: 49%;
	position: absolute;
	top: 2px;
	height: calc(100% - 4px);
	border-radius: 2px;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.2s ease;
}


.pg-pagination-button {
	transition: left 0.5s ease-in-out;
}

.active {
	background-color: blue !important;
}


.pg-pagination-button:hover {
    background-color: rgba(0, 0, 255, 0.851)  !important; /* Light grey background on hover */
	transform: scale(1.1);
	color:white !important;
}


// .pg-pagination-button {
//     position: relative;
//     overflow: hidden;
//     transition: color 0.2s ease, transform 0.2s ease;
// 	z-index:1;
// }

// .pg-pagination-button::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: -100%;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 255, 0.851); /* Background color on hover */
// 	color:white !important;
//     transition: left 0.5s ease-in-out;
//     z-index: 0;
// }

// .pg-pagination-button:hover::before {
//     left: 0;
// }

// .pg-pagination-button:hover {
//     color: white !important; /* Text color on hover */
//     transform: scale(1.1);
// }

// .pg-pagination-button span {
//     position: relative;
//     z-index: 1;
// }
