/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-post_blockk {
	border: 1px dotted #f00;
}

.parent{
	display: grid;
	max-width: 100%;
	grid-auto-rows: minmax(auto, auto);					
}

.ubl-switcher-bg-clr-gradient {
	display: flex;
	margin: 12px 0;
	position: relative;
	border: 1px solid #504f4f;
	padding: 4px;
	
	border-radius: 2px;
}

.switch-option {
	padding: 8px 12px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.switch-option.selected {
	color: #fff;
	
}

.bg-span {
	background-color: #000;
	width: 49%;
	position: absolute;
	top: 2px;
	height: calc(100% - 4px);
	border-radius: 2px;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 0.2s ease;
}


