.post-grid-category-div {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.post-grid-featured-image{
     margin-bottom: 10px;
     margin-left: 2px;
     margin-right: 2px;
}

.pagination a{
    text-decoration: none;
}

.page-numbers.current .page-numbers {
    background-color: black; /* Ensure nested page-numbers also get styled */
}

.post-grid-tag-style-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.post-grid-category-style-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}


@media (max-width: 768px) {
  
    .th-post-grid-wrapper .th-post-grid-inline .post-grid-titletag .post-grid-titletag-anchor{
        font-size: 20px;
        line-height: 100%;
    }
}

@media (max-width: 400px) {
    
    .th-post-grid-wrapper .th-post-grid-inline .post-grid-titletag .post-grid-titletag-anchor{
        font-size: 10px;
        line-height: 1px;
    }
}